# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.env.*
!.env.example
*.env
.venv/
venv/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs & temporary files
*.log
generated_reports/*.pdf
generated_reports/*.csv
